@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    background: 0 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    vertical-align: baseline;
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-overflow-scrolling: touch
}

body, document, html {
    -ms-touch-action: none
}

body {
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

iframe, img {
    max-width: 100%
}

img {
    vertical-align: top
}

main {
    display: block
}

a, button, input[type=submit] {
    cursor: pointer
}

ol, ul {
    list-style: none
}

i {
    font-style: normal
}

table {
    border-collapse: collapse
}

.cf:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

input, select, textarea {
    border: 0;
    border-radius: 0;
    vertical-align: middle
}

.sg-icon:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 5px;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%
}

.sg-icon.postalcode:before {
    background-image: url("../images/sg.icon.postalcode.svg")
}

.sg-icon.postalcode.disabled:before {
    background-image: url("../images/sg.icon.postalcode.disabled.svg")
}

.sg-icon.menu:before {
    background-image: url("../images/sg.icon.menu.svg")
}

.sg-icon.menu-close:before {
    background-image: url("../images/sg.icon.menu.close.svg")
}

.sg-icon.list:before {
    background-image: url("../images/sg.icon.menu.list.svg")
}

.sg-icon.sns:before {
    background-image: url("../images/sg.icon.menu.sns.svg")
}

.sg-icon.arrow-right:before {
    background-image: url("../images/sg.icon.arrow.right.svg")
}

.sg-icon.map:before {
    background-image: url("../images/sg.icon.location.svg")
}

.sg-icon.location:before {
    background-image: url("../images/sg.icon.location.mobile.svg")
}

.sg-icon.salary:before {
    background-image: url("../images/sg.icon.salary.svg")
}

.sg-icon.job-type:before {
    background-image: url("../images/sg.icon.job-type.svg")
}

.sg-icon.delete:before {
    background-image: url("../images/sg.icon.delete.svg")
}

.sg-icon.plus:before {
    background-image: url("../images/sg.icon.plus.svg")
}

.sg-icon.search:before {
    background-image: url("../images/sg.icon.search.svg")
}

.sg-icon.after.newwindow:after, .sg-icon.newwindow:before {
    background-image: url("../images/sg.icon.newwindow.svg")
}

.sg-icon.after.newwindow:before {
    display: none
}

.sg-icon.after.newwindow:after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 5px;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 5px;
    vertical-align: -2px !important
}

.sg-icon.company:before {
    background-image: url("../images/sg.icon.company.svg")
}

.sg-icon.attach-excel:before {
    background-image: url("../images/sg.icon.attach.excel.svg")
}

.sg-icon.attach-word:before {
    background-image: url("../images/sg.icon.attach.word.svg")
}

.sg-icon.attach-pdf:before {
    background-image: url("../images/sg.icon.attach.pdf.svg")
}

.sg-icon.attach-powerpoint:before {
    background-image: url("../images/sg.icon.attach.powerpoint.svg")
}

.sg-icon.attach-zip:before {
    background-image: url("../images/sg.icon.attach.zip.svg")
}

.sg-icon.attach-other:before {
    background-image: url("../images/sg.icon.attach.other.svg")
}

.sg-icon.after.attach-gif:after, .sg-icon.after.attach-image:after, .sg-icon.after.attach-jpeg:after, .sg-icon.after.attach-jpg:after, .sg-icon.after.attach-png:after, .sg-icon.after.attach-zip:after, .sg-icon.attach-gif:before, .sg-icon.attach-image:before, .sg-icon.attach-jpeg:before, .sg-icon.attach-jpg:before, .sg-icon.attach-png:before {
    background-image: url("../images/sg.icon.attach.image.svg")
}

body, input, pre, select, textarea {
    font-size: 16px;
    line-height: 1.6;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Helvetica, Arial, sans-serif;
    color: #222;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto
}

body, html {
    height: 100%
}

body {
    position: relative;
    min-height: 100%;
    height: auto
}

pre {
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: inherit
}

a {
    color: #3a83d0;
    transition: color .3s cubic-bezier(.19, 1, .22, 1)
}

a:hover {
    color: #73afe5
}

.sg-tagmanager-body>iframe {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0
}

.sg-wrapper {
    position: relative;
    width: 1024px;
    margin: 0 auto
}

.sg-container {
    min-width: 1024px;
    margin: 0 auto;
    padding: 0 12px
}

main.sg-wrapper {
    min-height: calc(100vh - (58px + 105px + 20px + 20px + 55px + 140px))
}

.sg-font.aligncenter {
    text-align: center
}

.sg-font.alignleft {
    text-align: left
}

.sg-font.alignright {
    text-align: right
}

.sg-font.primary {
    font-size: 14px;
    color: #2866a7
}

.sg-font.lowpriority {
    font-size: 14px;
    color: #999 !important
}

.sg-font.error {
    font-size: 14px;
    color: #a43c3c
}

.sg-font.error>li {
    margin-top: 2px
}

.sg-font.error>li>.sg-invalid {
    position: relative;
    top: -6px
}

[ng-messages] {
    margin-left: 4px;
    margin-bottom: 5px
}

.sg-annotations {
    margin-top: 4px;
    margin-left: 4px;
    font-size: 13px;
    color: #999
}

.sg-icon {
    opacity: .75;
    color: #3a83d0;
    vertical-align: -3px;
    transition: .3s cubic-bezier(.19, 1, .22, 1)
}

.sg-icon:hover {
    opacity: 1;
    text-decoration: underline;
    color: #3a83d0
}

.sg-icon:disabled {
    color: #aaa
}

.ng-cloak, .sg-data-vocabulary, .sg-hide, [ng-cloak] {
    display: none !important
}

input, select {
    height: 32px
}

input, select, textarea {
    width: 200px;
    max-width: 100%;
    background: #fff
}

input.xs, select.xs, textarea.xs {
    width: 80px
}

input.s, select.s, textarea.s {
    width: 120px
}

input.l, select.l, textarea.l {
    width: 360px
}

input.xl, select.xl, textarea.xl {
    width: 600px
}

input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #b6b6b6
}

input:-moz-placeholder, input::-moz-placeholder, select:-moz-placeholder, select::-moz-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder {
    color: #b6b6b6
}

input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #b6b6b6
}

select.ng-invalid-required {
    color: #b6b6b6
}

.sg-invalid:after, .sg-valid:after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: 5px;
    margin-left: 4px;
    vertical-align: top
}

.sg-valid:after {
    background-image: url("../images/sg.icon.valid.svg")
}

.sg-invalid:after {
    background-image: none
}

.sg-form-range {
    color: #999
}

.sg-corporate-header {
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    min-height: 25px;
    padding: 0 12px
}

.sg-social-buttons {
    position: absolute;
    right: 12px;
    bottom: 0
}

.sg-corporate-logo {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 1px solid #e6e6e6;
    vertical-align: top
}

.sg-corporate-logo>img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 98px;
    max-height: 98px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

a.sg-corporate-logo:hover {
    opacity: .75
}

.sg-corporate-summary>*+* {
    margin-top: 8px
}

.sg-corporate-name {
    width: 880px;
    margin-top: 6px;
    line-height: 28px;
    font-size: 22px;
    font-weight: 700
}

.sg-corporate-name>a {
    text-decoration: underline
}

.sg-corporate-name>a:hover {
    text-decoration: none
}

.sg-tags {
    display: inline-block;
    margin-top: 6px
}

.sg-tags>li {
    overflow: hidden;
    display: inline-block;
    max-width: 416px;
    margin-top: 5px;
    padding: 6px 8px;
    border: 1px solid #40AAEF;
    border-radius: 4px;
    vertical-align: middle;
    line-height: 1;
    font-size: 13px;
    color: #40AAEF;
    white-space: nowrap;
    text-overflow: ellipsis
}

.sg-tags>li+li {
    margin-left: 6px
}

.sg-tags>li.sg-tag-location {
    padding: 6px 0;
    border-color: transparent;
    color: #666
}

.sg-tags.sg-tags-applicable {
    top: 0;
    right: 0;
    bottom: initial;
    left: initial
}

.sg-tags.sg-tags-applicable>li {
    background-color: #2866a7;
    color: #fff
}

.sg-corporate-cover-image {
    margin-top: 20px;
    padding: 0 12px
}

.sg-corporate-cover-image>img {
    width: 100%;
    box-shadow: 0 2px 4px #ccc
}

.sg-spinner {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .75);
    background-image: url("../images/sg.spinner-l.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 128px
}

.sg-header+* {
    margin-top: 20px
}

.sg-breadcrumbs {
    padding: 10px 0;
    background: #f1f1f1
}

.sg-breadcrumbs>ol {
    padding: 0 12px;
    font-size: 0
}

.sg-breadcrumbs>ol>li {
    display: inline;
    vertical-align: middle;
    font-size: 12px;
    color: #666
}

.sg-breadcrumbs>ol>li+li:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .25em;
    margin-left: .25em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../images/sg.icon.arrow.right.svg");
    vertical-align: -2px
}

.sg-breadcrumbs>ol>li>a {
    text-decoration: underline;
    color: #666
}

.sg-breadcrumbs>ol>li>a:hover {
    text-decoration: none
}

.sg-job-filters {
    margin-top: 60px;
    padding: 20px;
    background-color: #f1f1f1
}

.sg-job-filters table {
    margin-top: 20px
}

.sg-job-filters table tr+tr td, .sg-job-filters table tr+tr th {
    padding-top: 10px
}

.sg-job-filters table th {
    width: 220px;
    padding-right: 20px;
    text-align: right
}

.sg-job-filters table ul>li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px
}

.sg-unavailable-notifier {
    margin-top: 60px;
    padding: 20px;
    border: solid #e6e6e6;
    border-width: 1px 0;
    text-align: center
}

.sg-unavailable-notifier>h2 {
    color: #666
}

.sg-footer {
    margin-top: 140px;
    background-color: #f6f6f6
}

.sg-footer-nav>ul {
    padding: 10px;
    font-size: 0;
    text-align: right
}

.sg-footer-nav>ul>li {
    display: inline-block;
    line-height: 1;
    font-size: 11px;
    color: #999
}

.sg-footer-nav>ul>li>a {
    color: #999
}

.sg-footer-nav>ul>*+li {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #e6e6e6
}

.sg-logo {
    width: 60px;
    height: 11px;
    margin-left: 1px;
    vertical-align: -2px
}

.sg-button {
    cursor: pointer;
    display: inline-block;
    height: 44px;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #2866a7;
    transition: color .3s cubic-bezier(.19, 1, .22, 1), background-color .3s cubic-bezier(.19, 1, .22, 1)
}

.sg-button.l {
    min-width: 240px;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 50px
}

.sg-button:focus, .sg-button:hover {
    color: #6c8abd
}

.sg-button:focus {
    outline-width: 2px;
    outline-color: x;
    outline-offset: -1px
}

.sg-button.primary {
    background-color: #2866a7;
    color: #fff
}

.sg-button.primary:hover {
    background-color: #6c8abd;
    color: #fff
}

.sg-button.disabled, .sg-button.disabled:focus, .sg-button.disabled:hover {
    cursor: default;
    outline: 0;
    background-color: #ccc;
    color: #666
}

.sg-social-buttons {
    text-align: center;
    font-size: 0
}

.sg-social-buttons>li {
    display: inline-block;
    vertical-align: top;
    font-size: 12px
}

.sg-social-buttons>li+li {
    margin-left: 9px
}

.sg-buttons-list {
    text-align: center;
    font-size: 0
}

.sg-buttons-list .sg-button+.sg-button {
    margin-left: 20px
}

.pg-markdown>* {
    max-width: 690px;
    word-wrap: break-word
}

.pg-markdown h1 {
    font-size: 38px;
    line-height: 1.25
}

.pg-markdown h2 {
    font-size: 32px;
    line-height: 1.25
}

.pg-markdown h3, .pg-markdown h4, .pg-markdown h5, .pg-markdown h6 {
    font-size: 24px;
    line-height: 1.5
}

.pg-markdown>h1, .pg-markdown>h2, .pg-markdown>h3, .pg-markdown>h4, .pg-markdown>h5, .pg-markdown>h6 {
    clear: both;
    padding-left: .5em;
    border-left: 5px solid #e6e6e6;
    color: #222;
    font-weight: 700
}

.pg-markdown>h1 *, .pg-markdown>h2 *, .pg-markdown>h3 *, .pg-markdown>h4 *, .pg-markdown>h5 *, .pg-markdown>h6 * {
    font-weight: 700
}

.pg-markdown>*+* {
    margin-top: 15px
}

.pg-markdown>h2+* {
    margin-top: 24px
}

.pg-markdown>h3+* {
    margin-top: 20px
}

.pg-markdown>*+h1, .pg-markdown>*+h2, .pg-markdown>*+h3, .pg-markdown>*+h4, .pg-markdown>*+h5, .pg-markdown>*+h6 {
    margin-top: 80px
}

.pg-markdown strong {
    font-weight: 400 !important;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Helvetica, Arial, sans-serif !important
}

.pg-markdown em, .pg-markdown em * {
    font-weight: 700 !important
}

.pg-markdown strong, .pg-markdown strong * {
    font-style: italic !important
}

.pg-markdown em strong, .pg-markdown strong em {
    font-weight: 700 !important;
    font-style: italic !important
}

.pg-markdown ol, .pg-markdown ul {
    margin-left: 2px
}

.pg-markdown ul {
    list-style: disc inside
}

.pg-markdown li>ul {
    list-style: circle inside
}

.pg-markdown ol {
    list-style: decimal inside
}

.pg-markdown li>ol {
    list-style: lower-roman inside
}

.pg-markdown li {
    margin-left: 1em;
    text-indent: -1em
}

.pg-markdown li>p {
    display: inline
}

.pg-markdown li>blockquote, .pg-markdown li>code {
    padding-left: 28px
}

.pg-markdown p {
    clear: left
}

.pg-markdown img {
    width: 100%;
    height: auto
}

.pg-markdown blockquote, .pg-markdown code {
    padding: 6px 10px;
    background: #f1f1f1;
    font-style: italic;
    color: #666
}

.pg-markdown blockquote *, .pg-markdown code * {
    font-style: italic
}

.pg-markdown blockquote+blockquote, .pg-markdown blockquote+code, .pg-markdown code+blockquote, .pg-markdown code+code {
    margin-top: 0;
    padding-top: 0
}

.pg-markdown figure {
    float: left;
    width: 335px;
    margin-top: 25px;
    margin-right: 20px;
    padding-bottom: 15px
}

.pg-markdown figure+* {
    display: block;
    clear: both
}

.pg-markdown figure+br+figure, .pg-markdown figure+figure {
    clear: none
}

.pg-markdown figcaption {
    display: block;
    margin-top: 5px;
    color: #666;
    font-size: 12px;
    text-align: center
}

.pg-markdown a {
    color: #3a83d0
}

.pg-markdown a:hover {
    text-decoration: underline
}

.pg-descriptions--wrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-justify-content: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    width: 1024px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto
}

.pg-descriptions--wrapper .pg-descriptions {
    width: 690px
}

.pg-descriptions--wrapper .pg-facepile {
    width: calc(1024px - 690px - 20px)
}

.pg-descriptions+.pg-descriptions {
    margin-top: 40px
}

.pg-descriptions table {
    width: 100%;
    background-color: #f6f6f6;
    font-size: 14px;
    text-align: left
}

.pg-descriptions table>caption {
    padding: 14px 12px;
    border: solid #e6e6e6;
    border-width: 1px 1px 0;
    background-color: #f6f6f6;
    text-align: left;
    font-weight: 700
}

.pg-descriptions table td, .pg-descriptions table th {
    padding: 10px;
    border: 1px solid #e6e6e6;
    vertical-align: top
}

.pg-descriptions table th {
    width: 180px;
    text-align: left
}

.pg-descriptions table td {
    background: #fff
}

.pg-descriptions table td>dl {
    font-size: 0
}

.pg-descriptions table td>dl>dd, .pg-descriptions table td>dl>dt {
    display: inline-block;
    font-size: 14px
}

.pg-descriptions table td>dl>dt {
    margin-right: .5em
}

.pg-descriptions table td>dl>dd.pg-supplement-txt {
    display: block
}

.pg-descriptions table td pre {
    white-space: pre-line;
    word-wrap: break-word
}

.pg-descriptions .pg-markdown+table, .pg-descriptions h2+.pg-markdown {
    margin-top: 8px
}

.pg-descriptions *+.pg-supplement-txt, .pg-descriptions *+li {
    margin-top: 6px;
    padding-top: 6px;
    border-top: 1px solid #e6e6e6
}

.pg-descriptions .pg-markdown {
    border-width: 1px 0
}

.pg-descriptions-location, .pg-descriptions-location>.sg-icon {
    opacity: 1;
    text-decoration: none !important
}

.pg-descriptions-location:hover, .pg-descriptions-location>.sg-icon:hover {
    color: #73afe5
}

.pg-descriptions-location:before {
    margin-right: 0;
    background-size: contain;
    font-size: 16px;
    vertical-align: -6px
}

.pg-descriptions-location:hover {
    text-decoration: underline !important
}

.pg-count {
    padding: 8px 12px;
    border: solid #e6e6e6;
    font-size: 14px;
    color: #666
}

.pg-count>a {
    margin-right: .5em
}

.pg-count:first-child {
    border-width: 0 0 1px
}

.pg-count:last-child {
    border-width: 1px 0 0
}

.pg-list {
    margin-top: 40px
}

.pg-list-cassette {
    display: table;
    width: 100%
}

.pg-list-cassette+.pg-list-cassette {
    border-top: 1px solid #e6e6e6
}

.pg-list-cassette>a {
    display: table-row;
    transition: background-color .3s cubic-bezier(.19, 1, .22, 1)
}

.pg-list-cassette>a:hover {
    /* background: #f6f6f6 */
}

.pg-list-cassette>a>* {
    /* display: table-cell; */
    /* height: 159px; */
    /* padding: 10px; */
    /* vertical-align: middle */
}

.pg-list-cassette-image {
    width: 391px
}

.pg-list-cassette-detail-inner>h2 {
    /* font-size: 18px;
    font-weight: 700; */
    line-height: 24px;
    /* text-decoration: underline */
}

.pg-list-cassette-detail-inner>p {
    position: relative;
    margin-top: 10px;
    word-break: break-all
}

.pg-list-cassette-body {
    overflow: hidden;
    display: block;
    height: auto;
    max-height: 4.9em;
    line-height: 1.75;
    font-size: 14px;
    color: #222
}

.pg-list-cassette-continue {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    padding-left: 40px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff 40px);
    line-height: 1;
    font-size: 14px;
    transition: background .3s cubic-bezier(.19, 1, .22, 1)
}

.pg-list-cassette-continue>span {
    vertical-align: 2px;
    text-decoration: underline
}

.pg-list-cassette>a:hover .pg-list-cassette-continue {
    background-image: linear-gradient(to right, rgba(246, 246, 246, 0) 0, #f6f6f6 40px)
}

.pg-list-cassette>a:hover .pg-list-cassette-continue>span {
    text-decoration: none
}

.pg-list-cassette-continue:before {
    content: '...';
    margin-right: 2px;
    color: #222;
    text-decoration: none
}

.pg-list-cassette-detail.has-cover-image>.sg-tags>li {
    max-width: 274px
}
