@charset "UTF-8";

#recruit .parallaxGeometry_geo.parallaxGeometry_geo-05 {
    display: none
}

.keyVisual {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover
}

@media all and (min-width:768px) {
    .keyVisual {
        height: 549px;
        background-image: url("../../../img/recruit_students/recruit/key_visual-pc.jpg")
    }
}

@media screen and (max-width:767px) {
    .keyVisual {
        padding-bottom: 64.06%;
        width: 100%;
        background-image: url("../../../img/recruit_students/recruit/key_visual-sp.jpg")
    }
}

.introduction_tit {
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
    letter-spacing: .09em;
    line-height: 1.67
}

.introduction_tit:before {
    content: "";
    position: absolute;
    background-image: url("../../../img/recruit_students/recruit/shape.png");
    background-size: cover
}

.introduction_tit:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    border-width: 0 0 58px 58px;
    border-style: solid;
    border-color: transparent transparent #effbfd
}

@media all and (min-width:768px) {
    .introduction_tit {
        position: relative;
        margin: 0 auto;
        border: 4px solid #67d4e7;
        width: 722px;
        height: 108px;
        text-align: center;
        font-size: 29px;
        line-height: 100px
    }

    .introduction_tit:before {
        top: -25px;
        left: -57px;
        width: 107px;
        height: 71px
    }

    .introduction_tit:after {
        border-width: 0 0 58px 58px
    }
}

@media screen and (max-width:767px) {
    .introduction_tit {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
        border: 3px solid #67d4e7;
        width: 235px;
        height: 84px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .introduction_tit:before {
        top: -10px;
        left: -26px;
        width: 52px;
        height: 35px
    }

    .introduction_tit:after {
        border-width: 0 0 35px 35px
    }
}

.introduction_subtit {
    text-align: center;
    color: #1fb3d8;
    line-height: 1.35
}

@media all and (min-width:768px) {
    .introduction_subtit {
        margin-top: 17px;
        letter-spacing: .1em;
        font-size: 34px
    }
}

@media screen and (max-width:767px) {
    .introduction_subtit {
        margin-top: -19px;
        letter-spacing: .04em;
        font-size: 20px;
        font-weight: 700
    }
}

.introduction_lead {
    color: #545454
}

@media all and (min-width:768px) {
    .introduction_lead {
        margin-top: 25px;
        text-align: center;
        letter-spacing: .2em;
        font-size: 19px;
        line-height: 1.79
    }
}

@media screen and (max-width:767px) {
    .introduction_lead {
        margin-top: 16px;
        letter-spacing: .024em;
        font-size: 13px;
        line-height: 1.54
    }
}

@media all and (min-width:768px) {
    .introduction_btns {
        display: table;
        position: relative;
        z-index: 2;
        margin: 86px auto 0;
        width: 1100px
    }
}

@media screen and (max-width:767px) {
    .introduction_btns {
        margin-top: 44px
    }
}

.introduction_btn {
    position: relative;
    background-color: #f1f02f;
    background-repeat: no-repeat;
    background-position: right 4px center;
    letter-spacing: .1em;
    font-style: italic
}

.introduction_btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-color: #db5652 transparent transparent
}

.introduction_btn a {
    position: relative;
    height: 100%;
    text-decoration: none;
    color: inherit
}

@media all and (min-width:768px) {
    .introduction_btn {
        float: left;
        width: 347px;
        height: 109px;
        font-size: 16px;
        line-height: 1.31
    }

    .introduction_btn:before {
        border-width: 30px 30px 0 0
    }

    .introduction_btn a {
        display: block
    }

    .introduction_btn:hover {
        background-color: #f7f78f;
        color: #878787
    }

    .introduction_btn:hover:before {
        border-top-color: #eda9a6;
        border-left-color: #eda9a6
    }

    .introduction_btn .u-showy {
        font-size: 20px
    }

    .introduction_btn .u-vam {
        display: table-cell;
        padding-left: 30px;
        width: 347px;
        height: 109px;
        vertical-align: middle
    }

    .introduction_btn .u-vam:first-line {
        font-size: 20px
    }

    .introduction_btn+.introduction_btn {
        margin-left: 28px
    }
}

@media screen and (max-width:767px) {
    .introduction_btn {
        height: 60px;
        background-size: 72px 54px;
        text-align: center;
        font-size: 12px
    }

    .introduction_btn:before {
        border-width: 20px 20px 0 0
    }

    .introduction_btn a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .introduction_btn .u-showy {
        font-size: 16px
    }

    .introduction_btn+.introduction_btn {
        margin-top: 25px
    }
}

@media all and (min-width:768px) {
    .introduction_btn-general {
        background-image: url("../../../img/recruit_students/recruit/introduction_btn-general-pc.png")
    }
}

@media screen and (max-width:767px) {
    .introduction_btn-general {
        background-image: url("../../../img/recruit_students/recruit/introduction_btn-general-sp.jpg")
    }
}

@media all and (min-width:768px) {
    .introduction_btn-professional {
        background-image: url("../../../img/recruit_students/recruit/introduction_btn-professional-pc.png")
    }
}

@media screen and (max-width:767px) {
    .introduction_btn-professional {
        background-image: url("../../../img/recruit_students/recruit/introduction_btn-professional-sp.jpg")
    }
}

@media all and (min-width:768px) {
    .introduction_btn-corporate {
        background-image: url("../../../img/recruit_students/recruit/introduction_btn-corporate-pc.png")
    }
}

@media screen and (max-width:767px) {
    .introduction_btn-corporate {
        background-image: url("../../../img/recruit_students/recruit/introduction_btn-corporate-sp.jpg")
    }
}

.recruit {
    padding: 0 0 50px
}

@media all and (min-width:768px) {
    .recruit {
        padding-bottom: 100px
    }
}

#entry {
    padding-top: 1px
}

@media all and (min-width:768px) {
    #entry {
        padding-top: 20px
    }
}

.outline {
    padding-top: 45px
}

.flow {
    background: #f0fbfd url("../../../img/recruit_students/common/sect_bg-blue-left-sp.png") 0 0 no-repeat;
    background-size: 154px 120px;
    font-size: 16px;
    font-size: 1rem
}

@media all and (min-width:768px) {
    .flow {
        background: url("../../../img/recruit_students/common/sect_bg-blue-left-pc.png") 0 0 no-repeat, url("../../../img/recruit_students/common/sect_bg-blue-right-pc.png") 100% 0 no-repeat;
        background-color: #f0fbfd;
        background-attachment: fixed;
        background-size: 404px;
        text-align: center;
        font-size: 19px;
        font-size: 1.1875rem
    }

    .is-ipad .flow {
        background-attachment: scroll
    }
}

.flow_figure {
    overflow: hidden;
    margin: 16px auto 0;
    width: 290px;
    height: 388px;
    background: url("../../../img/recruit_students/recruit/flow_figure-sp.png") 0 0 no-repeat;
    background-size: 290px 388px;
    text-align: left;
    text-indent: -1000%
}

@media all and (min-width:768px) {
    .flow_figure {
        margin-top: 25px;
        width: 960px;
        height: 72px;
        background: url("../../../img/recruit_students/recruit/flow_figure-pc.png") 0 0 no-repeat;
        background-size: 960px 72px
    }
}

.faq {
    padding-bottom: 30px
}

.faq_list+.faq_list {
    margin: 35px 0 0
}

@media all and (min-width:768px) {
    .faq_list+.faq_list {
        margin-top: 70px
    }
}

.faq_list_tit {
    padding: 5px 10px;
    background: #40AAEF;
    color: #fff;
    font-size: 18px;
    font-size: 1.125rem
}

@media all and (min-width:768px) {
    .faq_list_tit {
        padding: 0 20px;
        font-size: 24px;
        /* font-size: 1.75rem */
    }
}

.faq_list_list {
    border-bottom: 1px solid #40AAEF
}

.faq_list_list.is-open dt:after {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
}

.faq_list_list dt {
    position: relative;
    padding: 20px 20px 20px 30px;
    cursor: pointer;
    background: url("../../../img/recruit_students/common/mod-ico-quest-blue-sp.png") 0 50% no-repeat;
    background-size: 19px;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 1.48
}

@media all and (min-width:768px) {
    .faq_list_list dt {
        padding: 28px 44px;
        -webkit-transition: .3s;
        transition: .3s;
        background: url("../../../img/recruit_students/common/mod-ico-quest-blue-pc.png") 0 50% no-repeat;
        background-size: 28px;
        font-size: 18px;
        /* font-size: 1.375rem */
    }

    .faq_list_list dt:hover {
        opacity: .7
    }
}

.faq_list_list dt:before, .faq_list_list dt:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 2px;
    -webkit-transition: .3s;
    transition: .3s;
    background: #40AAEF;
}

@media all and (min-width:768px) {
    .faq_list_list dt:before, .faq_list_list dt:after {
        right: 25px;
        width: 25px;
        height: 3px
    }
}

.faq_list_list dt:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.faq_list_list dd {
    display: none;
    position: relative;
    padding: 0 20px 20px 30px;
    background: url("../../../img/recruit_students/common/mod-ico-answer-blue-sp.png") 0 0 no-repeat;
    background-size: 19px;
    font-size: 13px;
    font-size: .8125rem;
    line-height: 1.54
}

@media all and (min-width:768px) {
    .faq_list_list dd {
        padding: 0 44px 40px;
        background: url("../../../img/recruit_students/common/mod-ico-answer-blue-pc.png") 0 0 no-repeat;
        background-size: 28px;
        font-size: 16px;
        /* font-size: .9375rem; */
        line-height: 1.74
    }
}

.faq_list_list dd+dt {
    margin: 10px 0 0
}

.faq_list_list dd a {
    color: #db5752
}
